body {
	background-color:#677E52 ;
	font-family: Arial;
}

#mainConteneur {
	width:95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 20px;
}

#messager {
	position:absolute;
	left:50px;
	top:50px;
	display:none;
	font-weight:bold;
	width:50%;
	height:30px;
	padding:50px;
	border-style:solid;
	border-width:1px;
	border-color:#002F2F;
	border-radius:15px;
	background-color:white;
}

/*menus*/

#mainMenu {
	width:95%;
	border-style:solid;
	border-width:1px;
	border-color:#002F2F;
	border-radius:5px;
	background-color:#B0CC99;
	margin-bottom:20px;
}

.menuItem {
	display:block;
	padding-left:15px;
	margin-top:15px;
	margin-bottom:15px;
	font-size:large;
}

.menuItem:hover {
	background-color:#B7CA79;
}

.subMenu {
	display:none;
	width:95%;
	border-style:solid;
	border-width:1px;
	border-color:#002F2F;
	border-radius:5px;
	background-color:#B0CC99;
	margin-bottom:20px;
}

.menu2Item {
	display:block;
	padding-left:15px;
	margin-top:15px;
	margin-bottom:15px;
	font-size:large;
}

.menu2Item:hover {
	background-color:#B7CA79;
}

#addItems {
	position:fixed;
	right:2px;
	bottom:2px;
	font-size:x-large;
	border-style: solid;
	border-width:1px;
	border-color:#046380;
	border-radius:6px;
	background-color: #C4D7ED;
}

#addItems span {
	padding-right: 12px;
	padding:8px;
}

/* Sections */

.section {
	width:95%;
	display:none;
	border-style:solid;
	border-width:1px;
	border-color:#002F2F;
	border-radius:5px;
	background-color:#ffffff;
}

.titreDeSection {
	background-color:#8FCF3C;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding-left:15px;
	font-weight:bold;
	padding-top:15px;
	padding-bottom:15px;
	color:#ffffff
}

.menuParLettres {
	background-color:#5F8CA3;
	margin-top:15px;
	margin-bottom:15px;
}

.dataTable {
	width:95%;
}

.legendeTableau {
	display:none;
}

#conteneurPhoto {
	width:600px;
}

/* évènements */

#requested {
	display:none;
}
.caseEvenement {
	width:80px;
}
.caseDate {
	width:20%;
}

.precisions {
	font-size: small;
}

.evepere { /* indication de l'évènement père*/
	padding-right: 5px;
	font-size: 10px;
	color: blue;
}

.tagPetiteImage {
	height: 10px;
}

.liensel {
	padding-right: 5px;
	font-size: 10px;
}

.liensep {
	padding-right: 5px;
	font-size: 10px;
}

/* autres éléments généraux */

.uneImage {
	height: 45px;
	max-width:140px;
	vertical-align: top;
}

.caseImagedePersonne {
	height: 120px;
	vertical-align: top;
}

.uneImagedePersonne {
	vertical-align: top;
	max-height: 100px;
	max-width:100px;
}

.uneCaseGras {
	font-weight: bold;
}

.longueCase {
	text-align:justify;
}

.unePetiteInfo {
	font-size: small;
	font-weight: normal;
}

.miniCase {
	font-size: small;
	width:25px;
}

/* fin */

#fin {
	clear:both;
	padding-top:25px;
	padding-bottom:5px;
	font-size:xx-small;
	text-align:center;
}
